<section>
    <div class="div div">
        <h2 class="titre">
            Présentation générale
            <div></div>
        </h2>

        <p class="corp">
            MukubaTech est une startup technologique spécialisée dans la conception et le développement de solutions numériques innovantes. Elle accompagne les entreprises, institutions et particuliers dans leur transformation digitale à travers des services fiables, performants et adaptés à leurs besoins spécifiques.
            Orientée vers l’innovation, la qualité et la performance, MukubaTech intervient dans plusieurs domaines clés des technologies de l’information, notamment le développement web et mobile, les logiciels sur mesure, les solutions SaaS et le support technique. L’entreprise s’inspire de son environnement et de son expertise locale tout en adoptant des standards professionnels et une vision résolument tournée vers l’avenir.
        </p>
    </div>
    
    <div class="div div">
        <h2 class="titre mt-5">
            Notre mission
            <div></div>
        </h2>
        
        <p class="corp">
            La mission de MukubaTech est d’accompagner ses partenaires dans l’adoption de solutions numériques efficaces, en mettant l’innovation technologique au service de l’optimisation, de la performance et de la croissance durable.
        </p>
    </div>
    
    <div class="div div">
        <h2 class="titre mt-5">
            Notre vision
            <div></div>
        </h2>
        
        <p class="corp">
            Notre vision est d'être le moteur de la transformation digitale pour les entreprises en Afrique et au-delà.
        </p>
    </div>
    
    <div class="div div">
        <h2 class="titre mt-5">
            Nos valeurs
            <div></div>
        </h2>
        <ul>
            <li class="corp">Transparence</li>
            <li class="corp">Innovation</li>
            <li class="corp">Excellence</li>
            <li class="corp">Intégrité</li>
            <li class="corp">Collaboration</li>
        </ul>
    </div>
    
    <div class="div div-DomainesDexpertise">
        <h2 class="titre mt-5">
            Domaines d’expertise
            <div></div>
        </h2>
        
        <p class="corp-DomainesDexpertise">

            MukubaTech excelle dans plusieurs domaines clés des technologies de l’information, notamment :
            
        </p>

        <ul>
            <li>Développement web et mobile</li>
            <p class="corp-DomainesDexpertise">
                Conception et développement d’applications web et mobiles performantes et intuitives, adaptées aux besoins spécifiques de chaque client. Que ce soit pour des plateformes e-commerce, des applications de gestion ou des solutions mobiles innovantes, les technologies les plus récentes sont utilisées pour garantir une expérience utilisateur optimale.
            </p>

            <li>Logiciels sur mesure</li>
            <p class="corp-DomainesDexpertise">
                Des logiciels personnalisés sont créés pour répondre aux exigences uniques des entreprises. L’équipe analyse les processus métier pour développer des solutions qui améliorent l’efficacité opérationnelle, automatisent les tâches répétitives et facilitent la prise de décision.
            </p>

            <li>Intelligence artificielle et data</li>
            <p class="corp-DomainesDexpertise">
                L’intégration de l’intelligence artificielle et de l’analyse de données permet aux clients d’exploiter pleinement le potentiel de leurs informations. Les solutions incluent le machine learning, l’analyse prédictive et la visualisation de données pour optimiser les performances et la prise de décision.
            </p>

            <li>Transformation digitale</li>
            <p class="corp-DomainesDexpertise">
                L’accompagnement des entreprises dans leur transition numérique passe par des stratégies de transformation digitale sur mesure. Cela comprend l’optimisation des processus, l’adoption de nouvelles technologies et la formation des équipes pour assurer une intégration réussie.
            </p>

            <li>Cybersécurité</li>
            <p class="corp-DomainesDexpertise">
                Des solutions de cybersécurité robustes sont mises en place afin de protéger les données et les systèmes critiques des entreprises, garantissant la continuité des opérations et la confiance des clients.
            </p>

            <li>Maintenance et support technique</li>
            <p class="corp-DomainesDexpertise">
                Un service de maintenance et de support technique assure le bon fonctionnement des solutions numériques. L’équipe est disponible pour résoudre rapidement les problèmes techniques et maintenir la performance optimale des systèmes.
            </p>
        </ul>

    </div>
    
    <div class="div div">
        <h2 class="titre mt-5">
            Pourquoi choisir MukubaTech ?
            <div></div>
        </h2>
        
        <p class="corp">
            Choisir MukubaTech, c’est opter pour un partenaire technologique fiable, innovant et engagé à vos côtés pour réussir votre transformation digitale. Notre expertise locale combinée à une vision globale nous permet de proposer des solutions adaptées, performantes et durables.
        </p>
    </div>
    
    <div class="div">
        <h2 class="titre mt-5">
            Équipe
            <div></div>
        </h2>
        
        <p class="corp">
            Notre équipe est composée de professionnels passionnés et expérimentés dans divers domaines des technologies de l’information. en voici quelques membres clés :
        </p>

        <div class="divLesMembresDeLequipe">

            <a href="https://wipsyofc.github.io/" target="_blank" rel="noopener noreferrer">
                <div class="membre">
                    <img src="assets/medias/wipsy.jpg" alt="Photo de Wipsy MAMBUE">
                    <h3>Wipsy MAMBUE</h3>
                    <p>Licencié en Génie Logiciel et Systèmes d’Information</p>
                </div>
            </a>
            
            <a href="http://" target="_blank" rel="noopener noreferrer">
                <div class="membre">
                    <img src="assets/icons/user.png" alt="Photo de Wilma TSHIKEKE">
                    <h3>Wilma TSHIKEKE</h3>
                    <p>Licencié en Intelligence artificielle</p>
                </div>
            </a>
            

            <!--
            <a href="http://" target="_blank" rel="noopener noreferrer">
                <div class="membre">
                    <img src="assets/icons/user.png" alt="Photo de">
                    <h3>...........</h3>
                    <p>............</p>
                </div>                
            </a>
            -->
        </div>
    </div>
    
    <div class="div div">
        <h2 class="titre mt-5">
            Discutons de votre projet
            <div></div>
        </h2>
        
        <p  class="corp">
            Découvrez comment MukubaTech peut transformer votre business dès aujourd’hui.
        </p>
         
        <button class="button" routerLink="/contact">
            Nous contacter
            <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                <path
                clip-rule="evenodd"
                d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                fill-rule="evenodd"
                ></path>
            </svg>
        </button>

    </div>
</section>