
<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      
      <div>
        
        <a routerLink="/accueil" class="navbar-brand" id="MukubaTechLogo">
          <img src="assets/medias/logo-MukubaTech.png" alt="Logo MukubaTech" id="MukubaTechLogoImage">
          MukubaTech
        </a>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">  
          <a class="nav-link" routerLink="/accueil" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
          <a class="nav-link" routerLink="/apropos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Qui sommes nous</a>
          <a class="nav-link" routerLink="/services" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Services</a>
          <a class="nav-link" routerLink="/technologies" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Technologies</a>
          <a class="nav-link" routerLink="/actualites" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Actualités</a>
          <a class="nav-link" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact</a>
        </div>
      </div>

    </div>
  </nav>

</header>
