

<footer>
  <section class="sectionFooter">

    <div class="sectionFooterDiv div1">
      <a routerLink="/accueil">
        <img src="assets/medias/logo-MukubaTech-Bleu.png" alt="logo-MukubaTech">
      </a>

      <p>
        Avec MukubaTech, numérisez vos idées sans crainte.
      </p>
    </div> 

    <div class="sectionFooterDiv div2">
      <h3>Coordonnées</h3>
      <p>Tél : +243 845312753</p>
      <p>WhatsApp : +216 28639863</p>
      <p>Gmail : mukubatech&#64;gmail.com</p>
    </div>
    
    <div class="sectionFooterDiv div3">
      <h3>Liens rapides</h3>
      <ul>
        <li><a routerLink="/accueil" >Accueil</a></li>
        <li><a routerLink="/apropos" >Qui sommes-nous ?</a></li>
        <li><a routerLink="/services" >Services</a></li>
        <li><a routerLink="/technologies" >Technologies</a></li>
        <li><a routerLink="/actualites" >Actualités</a></li>
        <li><a routerLink="/contact" >Contact</a></li>

      </ul>

    </div>
     

  </section>



  <div class="copyrigth">© 2025 – Conçu par MukubaTech.</div>
</footer>