.section1 {
    display: flex;
    flex-direction: block;
    justify-content: space-evenly;
    position: relative;   
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: rgb(0, 0, 0); /* fallback si image non chargée */
    overflow: hidden;             /* pour contenir l'overlay */
}

.section1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/medias/background.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(8px);           /* effet flou */
    z-index: 0;                  /* derrière le contenu */
}

/* Contenu de la section au-dessus du blur */
.section1 > * {
    position: relative;
    z-index: 1;
}


@media (max-width: 768px) {
    section {
         flex-direction: column;
    }
}


.divContact{
    display: block;
    text-align: center;
}

.divContact h2{
    color: #FFEEA9;
    font-size: 40px;
    margin-bottom: 20px;
}

.divContact ul {
    display: flex;           /* aligne les éléments en ligne */
    gap: 20px;               /* espace entre les items */
    padding: 0;
    margin: 0;
    list-style: none;   
    justify-content: center;
}

.divContact ul li a {
    text-decoration: none;
    color: white;
    margin-inline: 20px;
}

.divContact ul li a:hover {
    color: #58A0C8;
    text-shadow: 0 2px px rgba(0, 0, 0, 1);
    
}

.bi {
    font-size: 2rem; /* taille de l’icône */
}



form{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 5px;
}

form input, form textarea, button{
    margin-bottom: 5px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
} 

form textarea{
    height: 100px;
    overflow: hidden;
    resize: none;
}

#envoyer{
    background-color: #58A0C8;
    color: white;
    cursor: pointer;
}

form input:hover, form textarea:hover, #envoyer:hover{
    border: solid 2px #58A0C8;
    background-color: #16476A;
}

form input:focus, form textarea:focus{
    outline: none;
    border: solid 2px #58A0C8;
    background-color: #16476A;
}