<section>

    <div class="divContact">
        <h2>
            Contactez-nous
        </h2> 


    </div>

    <form>
        <input type="texte" id="nom" nom="nom" placeholder="Nom" required>
        <input type="text" name="prenom" id="prenom" placeholder="Prénom">
        <input type="number" id="telephone" nom="telephone" placeholder="Tél WhatsApp">
        <input type="email" id="email" nom="email" placeholder="Adresse mail" required>
        <textarea id="message" nom="message" placeholder="Écrivez votre message ici !" required maxlength="400" rows="4" cols="50"></textarea>
        <button type="envoyer" id="envoyer">Envoyer</button>
    </form>

</section>