<section class="section1">
    <div class="divContact">
        <h2>
            Nous Contactez  
        </h2> 

        <ul>
            <li><a href="http://"><i class="bi bi-envelope-at-fill"></i></a></li>
            <li><a href="http://"><i class="bi bi-whatsapp"></i></a></li>
            <li><a href="http://"><i class="bi bi-geo-alt"></i></a></li>
        </ul>
    </div> 
    <form>
        <input type="texte" id="nom" nom="nom" placeholder="Nom" required>
        <input type="text" name="prenom" id="prenom" placeholder="Prénom">
        <input type="number" id="telephone" nom="telephone" placeholder="Tél WhatsApp">
        <input type="email" id="email" nom="email" placeholder="Adresse mail" required>
        <textarea id="message" nom="message" placeholder="Écrivez votre message ici !" required maxlength="400" rows="4" cols="50"></textarea>
        <button type="envoyer" id="envoyer">Envoyer</button>
    </form>

</section>