div{
    width: 100%;
    height: 50vh;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div h3{
    color: #fff;
    margin-inline: 50px;
    text-align: center;
}