<section id="SectionPrincipale">

    <!------------------------ DIV ACCEUIL -------------------------->
    <div id="divAcceuilBackGround">

        <img src="assets/medias/accueil.jpg" id="imageBackGroundAcceuil" alt="image BackGround Acceuil">

        <h1>
            Transformez vos idées en solutions technologiques concrètes.
        </h1>

        <button class="button" routerLink="/services">
            Voir nos services
            <svg class="icon" viewBox="0 0 24 24" fill="currentColor">
                <path
                fill-rule="evenodd"
                d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                clip-rule="evenodd"
                ></path>
            </svg>
        </button>


    </div>



    <!---------------------------- DIV NOS SERVICES --------------------------------->

    <div id="nosservices" class="divAcceuil"> 
        <h2 class="dividerTitreAccueil">Nos Services</h2>
        <p>Découvrez nos services innovants conçus pour propulser votre entreprise vers l'avenir numérique.</p>
    
        
        <div class="divNosServicesGridContenaire row g-3">
            
            <div class="carteAccueilNosServices col-lg-4 col-md-6 col-sm-12">
                <div class="IconeServices mx-auto">
                    <i class="bi bi-pc-display-horizontal iconLogo fs-2"></i>
                </div>
                <div class="TitreCarte">
                    <h5 class="card-title">Création de sites modernes et performants</h5>
                    <p class="card-text">Sites vitrines, plateformes dynamiques et applications web conçues sur mesure pour répondre aux besoins de votre activité.</p>
                </div>
            </div>
            
            <div class="carteAccueilNosServices col-lg-4 col-md-6 col-sm-12">
                <div class="IconeServices mx-auto">
                    <i class="bi bi-phone iconLogo fs-2"></i>
                </div>
                <div class="TitreCarte">
                    <h5 class="card-title">Applications Android & iOS de qualité professionnelle</h5>
                    <p class="card-text">Des applications intuitives, rapides et adaptées à vos objectifs business ou personnels.</p>
                </div>
            </div>
            
            <div class="carteAccueilNosServices col-lg-4 col-md-6 col-sm-12 carteMasquerSurPetitEcran ">
                <div class="IconeServices mx-auto">
                    <i class="bi bi-gear iconLogo fs-2"></i>
                </div>
                <div class="TitreCarte">
                    <h5 class="card-title">Des logiciels conçus spécialement pour vous</h5>
                    <p class="card-text">Développement de solutions personnalisées, adaptées à vos exigences techniques et opérationnelles.</p>
                </div>
            </div>
            
            <div class="carteAccueilNosServices col-lg-4 col-md-6 col-sm-12 carteMasquerSurPetitEcran ">
                <div class="IconeServices mx-auto">
                    <i class="bi bi-cloud iconLogo fs-2"></i>
                </div>
                <div class="TitreCarte">
                    <h5 class="card-title">Des plateformes accessibles partout, à tout moment</h5>
                    <p class="card-text">Conception de solutions hébergées en ligne, disponibles par abonnement pour automatiser vos services.</p>
                </div>
            </div>
            
            <div class="carteAccueilNosServices col-lg-4 col-md-6 col-sm-12 ">
                <div class="IconeServices mx-auto">
                    <i class="bi bi-tools iconLogo fs-2"></i>
                </div>
                <div class="TitreCarte">
                    <h5 class="card-title">Un accompagnement technique fiable et continu</h5>
                    <p class="card-text">Mise à jour, sécurisation et optimisation de vos systèmes et applications existantes.</p>
                </div>
            </div>
            
            <div class="carteAccueilNosServices col-lg-4 col-md-6 col-sm-12 ">
                <div class="IconeServices mx-auto">
                    <i class="bi bi-database iconLogo fs-2"></i>
                </div>
                <div class="TitreCarte">
                    <h5 class="card-title">Maîtrise, performance et protection de vos données</h5>
                    <p class="card-text">Conception, optimisation et administration de bases de données robustes et sécurisées.</p>
                </div>
            </div>

        </div>
        
        <!-- BOUTON VOIR PLUS DE SERVICES -->
 
        <button class="boutonVoirPlusDeServices button ms-auto" routerLink="/services">
            <span>Voir plus</span>
            <svg width="15" height="15" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" stroke-linejoin="round" stroke-linecap="round"></path>
            </svg>
        </button>


    
    </div>





    <!----------------------------------DIV À PROPOS DE NOUS ------------------------>

    <div class="divAcceuil aproposdenous">
        <h2 class="dividerTitreAccueil">Qui sommes nous</h2>
        <p>
            MukubaTech est une jeune startup technologique née au cœur du Katanga, inspirée par la richesse du cuivre et l’identité culturelle du Lualaba.
            Spécialisée en développement web, mobile et desktop, conception d’applications sur mesure, intégration d’intelligences artificielles, Internet des Objets (IoT) et bien plus, MukubaTech propose des solutions modernes et adaptées aux besoins de chaque client.

            Alliant expertise technique, créativité et esprit africain, nous nous positionnons comme un pont entre culture locale et technologie mondiale, avec pour objectif de bâtir un écosystème numérique solide et durable depuis la RD Congo.
        </p>
    </div>




    <!--------------------------------- ACTUALITÉS ----------------------------------->

    <div id="actualites" class="divAcceuil">
        <h2 class="dividerTitreAccueil">Actualités</h2>
        <p>
            Aucune actualité n’est disponible pour l’instant, mais elle le sera très bientôt.
        </p>
    </div>







</section>
